/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* 
  You can override the default Infima variables here. 
  Go to https://docusaurus.io/docs/styling-layout for a nice interactive editor 
*/
:root {
  --ifm-color-primary: #f57807;
  --ifm-color-primary-dark: #dd6c06;
  --ifm-color-primary-darker: #d06606;
  --ifm-color-primary-darkest: #ac5405;
  --ifm-color-primary-light: #f9851d;
  --ifm-color-primary-lighter: #f98c29;
  --ifm-color-primary-lightest: #fa9f4e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f9a82f;
  --ifm-color-primary-dark: #f89c12;
  --ifm-color-primary-darker: #f59507;
  --ifm-color-primary-darkest: #c97b06;
  --ifm-color-primary-light: #fab44c;
  --ifm-color-primary-lighter: #faba5a;
  --ifm-color-primary-lightest: #fbcc85;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* make pages take up more of the screen */ 
.container {
  max-width: none !important;
  width: 95% !important;
}

.main-wrapper {
  max-width: none !important;
}

/* separate entities docs from the rest, the class definition for this in in docs/entities/_category_.json */ 
/* currently set to hide, as we have the new entity search page */
.entities-category-separator {
  /* border-top: 1px solid var(--ifm-color-emphasis-300); */
  display:none !important;
}

admonition.compact {
  margin: 0.25rem 0 !important;
  padding: 0.25rem 0.75rem !important;
}

.admonition.compact .admonition-heading {
  margin-bottom: 0.125rem !important;
  font-size: 0.9rem !important;
}

/* for groups like keyvalues in entity page, without this the default styling is a bit over the top */
details {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
}

details summary::before {

  border-left: 6px solid currentColor;
 
}

[class*="collapsibleContent"] {
  border-top-color: currentColor !important;
}

/* legacy annotation */
.alert--legacy {
  --ifm-alert-background-color: rgba(212, 52, 28, 0.156);
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #d4351c;
}

html[data-theme='dark'] .alert--legacy {
  --ifm-alert-background-color: rgba(212, 52, 28, 0.446);
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #d4351c;
}

.legacy_item a::before {
  color: var(--ifm-color-emphasis-300);
  padding-right: 0.5rem;
  content: '[LEGACY]';
}

/* non fgd annotation */
.alert--nonFGD {
  --ifm-alert-background-color: #bea1dc88;
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #ac5dc7;
}

html[data-theme='dark'] .alert--nonFGD {
  --ifm-alert-background-color: #5e427c;
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: rgb(181, 121, 202);
}

.nonFGD_item a::before {
  color: var(--ifm-color-emphasis-300);
  padding-right: 0.5rem;
  content: '[NON-FGD]';
}

/* todo annotation */
.alert--todo {
  --ifm-alert-background-color: #55e95238;
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #3fd13d;
}

html[data-theme='dark'] .alert--todo {
  --ifm-alert-background-color: #1c601b;
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #3fd13d;
}

.todo_item a::before {
  color: var(--ifm-color-emphasis-300);
  padding-right: 0.5rem;
  content: '[NON-FGD]';
}

/* bug annotation */
.alert--bug {
  --ifm-alert-background-color: #ff020238;
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #d13d3d;
}

html[data-theme='dark'] .alert--bug {
  --ifm-alert-background-color: #601515;
  --ifm-alert-background-color-highlight: rgba(212, 53, 28, 0.15);
  --ifm-alert-foreground-color: rgb(255, 255, 255);
  --ifm-alert-border-color: #d13d3d;
}

.bug_item a::before {
  color: var(--ifm-color-emphasis-300);
  padding-right: 0.5rem;
  content: '[BUG]';
}

@media screen and (max-width: 576px){
  .navbar__title {
    display: none;
    
  }

  .navbar__brand {
    margin-right: 0px;
  }

  .navbar__search-input {
    max-width: 6rem;
  }

  /* hide placeholder on mobile */
  .navbar__search-input::placeholder {
    font-size: 0 !important;
  }
}

@media screen and (max-width: 996px){
  .searchHintContainer_Pkmr {
    display: none !important;
  }
}

.discord-button{
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  display: flex !important;
  align-items: center;
  border-radius: 6px;
  background: transparent;
  color: var(--ifm-font-color-base);
  text-decoration: none;
}

.discord-button:hover{
  color: var(--ifm-color-emphasis-600);
    text-decoration: none;
}

.discord-icon {
  width: 100%;
  height: 100%;
}

/* Github icon */
.github-button {
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  display: flex !important;
  align-items: center;
  border-radius: 6px;
  background: transparent;
  color: var(--ifm-font-color-base);
  text-decoration: none;
  padding-right: 2rem;
}

.github-button:hover {
  color: var(--ifm-color-emphasis-600);
  text-decoration: none;
}

.github-icon {
  width: 100%;
  height: 100%;
}

