name: Deploy to GitHub Pages

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  test-deploy:
    if: github.event_name != 'push'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Update GitHub SSH Host Key
        run: |
          mkdir -p ~/.ssh
          ssh-keygen -R github.com 2>/dev/null || true
          curl -L https://api.github.com/meta | jq -r '.ssh_keys | .[]' | sed -e 's/^/github.com /' >> ~/.ssh/known_hosts

      - name: Install dependencies
        run: npm ci

      - name: Clone WikiPageTools
        run: git clone https://github.com/Source2Wiki/WikiPageTools
      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Run WikiPageTools
        run: dotnet run --configuration Release --project WikiPageTools/WikiPageTools -- --root . --generate_mdx --no_listen

      - name: Test build website
        run: npm run build
  deploy:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}

      - name: Update GitHub SSH Host Key
        run: |
          mkdir -p ~/.ssh
          ssh-keygen -R github.com 2>/dev/null || true
          curl -L https://api.github.com/meta | jq -r '.ssh_keys | .[]' | sed -e 's/^/github.com /' >> ~/.ssh/known_hosts

      - name: Install dependencies
        run: npm ci

      - name: Clone WikiPageTools
        run: git clone https://github.com/Source2Wiki/WikiPageTools
      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      - name: Run WikiPageTools
        run: dotnet run --configuration Release --project WikiPageTools/WikiPageTools -- --root . --generate_mdx --no_listen

      - name: Deploy to GitHub Pages
        env:
          USE_SSH: true
        run: |
          git config --global user.email "angelcazacu8@gmail.com"
          git config --global user.name "angel_foxxo"
          npm ci
          npm run deploy